
<div *ngIf="empresa">
    <h2><span>Empresa</span> {{empresa.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre</span></dt>
        <dd>
            <span>{{empresa.nombre}}</span>
        </dd>
        <dt><span>Nit</span></dt>
        <dd>
            <span>{{empresa.nit}}</span>
        </dd>
        <dt><span>Telefono</span></dt>
        <dd>
            <span>{{empresa.telefono}}</span>
        </dd>
        <dt><span>Direccion</span></dt>
        <dd>
            <span>{{empresa.direccion}}</span>
        </dd>
        <dt><span>Producto</span></dt>
        <dd>
            <span *ngFor="let producto of empresa.productos; let last = last">
                <a [routerLink]="['/producto', producto?.id ]">{{producto.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'empresa/'+ empresa.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
