
<div *ngIf="producto">
    <h2><span>Producto</span> {{producto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre</span></dt>
        <dd>
            <span>{{producto.nombre}}</span>
        </dd>
        <dt><span>Precio</span></dt>
        <dd>
            <span>{{producto.precio}}</span>
        </dd>
        <dt><span>Marca</span></dt>
        <dd>
            <span>{{producto.marca}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'producto/'+ producto.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
