
<div *ngIf="car">
    <h2><span>Car</span> {{car.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre</span></dt>
        <dd>
            <span>{{car.nombre}}</span>
        </dd>
        <dt><span>Modelo</span></dt>
        <dd>
            <span>{{car.modelo}}</span>
        </dd>
        <dt><span>Precio</span></dt>
        <dd>
            <span>{{car.precio}}</span>
        </dd>
        <dt><span>Driver</span></dt>
        <dd>
            <span *ngFor="let driver of car.drivers; let last = last">
                <a [routerLink]="['/driver', driver?.id ]">{{driver.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'car/'+ car.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
